* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-transform: capitalize;
}

/* Custom navigasi */

.nav{width:100%; background:#1572A1;}

.navbar-brand{color: #FFF!important;}

.nav-link{color: #FFF!important; transition: all 0.3 ease-in-out!important;}

.nav-link:focus{padding: 8px 10px; background: #000!important; color: #FFF!important;}

@media(max-width: 668px) {
   .nav-link {text-align: center;}
}

/* Navbar Toggle Custom */
.navbar-toggler {
   width: 20px;
   height: 20px;
   position: relative;
   transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
   outline: none;
   box-shadow: none;
   border: 0;
}

.navbar-toggler span {
   margin: 0;
   padding: 0;
}

.toggler-icon {
   display: block;
   position: absolute;
   height: 3px;
   width: 100%;
   background: #000;
   border-radius: 2px;
   opacity: 1;
   left: 0;
   transform: rotate(0deg);
   transition: .25s ease-in-out;
}

.middle-bar {
   margin-top: 0px;
}

/* Ketika navigasi di klik */
.navbar-toggler .top-bar {
   margin-top: 0px;
   transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
   opacity: 0;
   filter: alpha(opacity=0);
}

/* Ketika navigasi di hilangkan */
.navbar-toggler.collapsed .top-bar {
   margin-top: -20px;
   transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
   opacity: 1;
   filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
   margin-top: 20px;
   transform: rotate(0deg);
}

.navbar-toggler .bottom-bar {
   margin-top: 0px;
   transform: rotate(-135deg);
}

/* Tambah tugas */
.text-tambah, .text-about {
   margin-top: 3rem;
   text-align: center;
}
